{% extends 'base.html' %}
{% block content %}
<main>
  <nav>
    <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'dashboard' %}">My recipes</a></li>
      <li><a href="{% url 'signout' %}">Sign out</a></li>
    </ul>
  </nav>

  <h1>Hello, {{user.username}}.</h1>

  {% if recipes %}
  <nav>
    <ul>
      {% for recipe in recipes %}
      <li><a href="{% url 'recipe' recipe.id %}">{{recipe.name}}</a></li>
      {% endfor %}
    </ul>
  </nav>
  {% else %}
  <p>No recipes to list.</p>
  {% endif %}
</main>
{% endblock %}
