{% extends 'user_base.html' %}
{% block content %}
<h1>Sign Up</h1>

<form action="{% url 'signup' %}" method="POST">
  {% csrf_token %}
  <div>
    <label for="ipt-username">User name</label>
    <input id="ipt-username" name="username" required type="text">
  </div>

  <div>
    <label for="ipt-email">Email</label>
    <input id="ipt-email" name="email" required type="email">
  </div>

  <div>
    <label for="ipt-password">Password</label>
    <input id="ipt-password" name="password" required type="password">
  </div>

  <div>
    <label for="ipt-confirm-password">Confirm password</label>
    <input
      id="ipt-confirm-password"
      name="confirm_password"
      required
      type="password"
    >
  </div>

  <div>
    <button type="submit">Sign up</button>
  </div>
</form>
{% endblock %}
